.vscode
bash/.anvil-pid.txt

# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/9119/
/broadcast/**/dry-run/

# Ignores development deployments
/deployments/31337
/deployments/9119

# Dotenv file
.env

# Added by cargo
/target

# Silo foundry utils build
silo-foundry-utils
