name: Forge build & test

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

env:
  FOUNDRY_PROFILE: ci
  FOUNDRY_EVM_VERSION: paris

jobs:
  forge-tests:
    strategy:
      fail-fast: true

    name: Foundry project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Vyper compiler
        run: |
          pip install vyper==0.4.2
          vyper --version

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Forge fmt
        run: forge fmt --check

      - name: Run Forge build
        run: |
          forge --version
          forge build --sizes

      - name: Run Cargo build
        run: |
          cargo --version
          ./bash/build-for-tests.sh
